
h1 {
  text-align: center;
  width: 500px;
  border: 4px solid black;
  border-radius: 15px;
  margin: 10px auto 10px auto;
}

h3 {
  width: 400px;
  background-color: lightblue;
  margin: 5px;
  padding: 5px;
}

.paragraph {
  margin: 10px;
}
