/*h1 {
  background-color: green;
}

p {
  border: 5px solid black;
}

.page-content {
  background-color: red;
}

#unique-p-tag {
  background-color: blue;
}
*/

* {
  border: 2px solid black;
}

body {
  background-color: lightblue;
}

h1 {
  text-align: center;
}
